
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
  background-color: #fff;
}

.navbar-nav {
  li {
    margin: 0 15px;
    a {
      font-weight: 400;
      color: #563d7c;
      &.active {
        font-weight: 600;
        text-decoration: underline;
      }
    }
  }
}

.card {
  border: none;
  &-header {
    background: none;
    border: none;
    font-size: 20px;
    font-weight: 600;
  }
}